<h1>Listing produtos</h1>

<table>
  <tr>
    <th>Nome</th>
  </tr>

<% for produto in @produtos %>
  <tr>
    <td><%=h produto.nome %></td>
    <td><%= link_to 'Show', produto %></td>
    <td><%= link_to 'Edit', edit_produto_path(produto) %></td>
    <td><%= link_to 'Destroy', produto, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New produto', new_produto_path %>
<br>
<%= link_to 'PDF', formatted_produtos_path(:pdf) %>
